<footer
  class="relative w-auto items-center justify-between bg-[#FFD324] md:flex"
>
  <div
    class="flex grow flex-col items-center justify-evenly gap-5 bg-[#6F77F4] py-28 text-white md:flex-row"
  >
    <div class="flex flex-col">
      <span class="flex w-auto cursor-pointer gap-2 text-2xl font-bold">
        JERICKP.
      </span>
      <span>Lets Get Creative</span>
      <span>© 2021 All Rights Reserved</span>
    </div>
    <span>
      <p>Al Muraqabat,</p>
      <p>Dubai, United Arab Emirates</p>
    </span>
    <span class="flex flex-row gap-5 md:flex-col">
      <a href="#">About</a>
      <a href="#">Technologies</a>
      <a href="#">Experience</a>
      <a href="#">Contact</a>
    </span>
  </div>
  <div
    class="flex flex-col items-center gap-3 px-10 py-32 text-gray-800 md:items-start"
  >
    <h1 class="text-2xl font-semibold">
      <i class="fa fa-phone" aria-hidden="true"></i> Contact Me
    </h1>
    <div class="flex items-start justify-center gap-5">
      <a href="https://www.facebook.com/jrckpzrr/ " target="_blank"
        ><i class="fa fa-facebook" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/jrckpzrr/" target="_blank"
        ><i class="fa fa-instagram" aria-hidden="true"></i
      ></a>
      <a href="https://github.com/jerickpizarra" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i
      ></a>
      <a
        href="https://mail.google.com/mail/u/0/?fs=1&to=jerick.pizarra@gmail.com&su=&body=&tf=cm"
        target="_blank"
        ><i class="fa fa-envelope-o" aria-hidden="true"></i
      ></a>
      <a href="https://wa.me/0566747486" target="_blank"
        ><i class="fa fa-whatsapp" aria-hidden="true"></i
      ></a>
    </div>
  </div>
</footer>
