<section>
  <div
    class="fixed right-0 bottom-0 m-5 rounded-xl bg-slate-600 p-3 text-sm font-medium"
    *ngIf="notification"
  >
    <div class="inline-flex items-center text-white">
      {{ notification }}
    </div>
  </div>

  <div class="flex items-center justify-between p-3 text-center">
    <h1 class="text-lg font-bold">Experience</h1>
    <button
      class="background-transparent mr-1 mb-1 px-6 py-2 text-sm font-bold uppercase outline-none transition-all duration-150 ease-linear focus:outline-none"
      type="button"
      (click)="toggleExperience('Add')"
    >
      Add
    </button>
  </div>
  <div class="overflow-x-auto border-x border-t">
    <table class="w-full table-auto">
      <thead class="border-b">
        <tr class="bg-gray-100">
          <th class="p-4 text-left font-medium">Company</th>
          <th class="p-4 text-left font-medium">Job Title</th>
          <th class="p-4 text-left font-medium">Start Date</th>
          <th class="p-4 text-left font-medium">End Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="cursor-pointer border-b hover:bg-gray-50"
          *ngFor="let exp of experiences"
          (click)="toggleExperience(exp._id)"
        >
          <td class="p-4">{{ exp.company }}</td>
          <td class="p-4">{{ exp.title }}</td>
          <td class="p-4">{{ exp.startDate }}</td>
          <td class="p-4">{{ exp.endDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<form
  class="fixed inset-0 z-50 flex items-center justify-center overflow-y-auto overflow-x-hidden outline-none focus:outline-none"
  (ngSubmit)="submitForm()"
  [formGroup]="formExperience"
  *ngIf="showExperience"
>
  <div class="relative my-6 mx-auto w-auto max-w-6xl">
    <div
      class="relative flex w-full flex-col rounded-lg border-0 bg-white shadow-lg outline-none focus:outline-none"
    >
      <div class="flex items-start border-b border-solid border-slate-200 p-5">
        <h3 class="text-3xl font-semibold">
          {{ isCreate ? "Add Experience" : "Edit Experience" }}
        </h3>
      </div>
      <!--body-->
      <div class="relative flex-auto p-6">
        <div class="mb-3 flex flex-col gap-2 pt-0">
          <div class="relative flex gap-x-2">
            <div>
              <label for="">Start: </label>
              <input
                type="date"
                class="form"
                formControlName="startDate"
                placeholder="MM/DD/YYYY"
              />
            </div>
            <div>
              <label for="">End: </label>
              <input type="date" class="form" formControlName="endDate" />
            </div>
          </div>

          <input
            type="text"
            placeholder="Company"
            class="form"
            formControlName="company"
          />
          <input
            type="text"
            placeholder="Job Title"
            class="form"
            formControlName="title"
          />
          <textarea
            placeholder="Description"
            class="form"
            cols="30"
            rows="10"
            formControlName="description"
            id="test"
          ></textarea>
        </div>
      </div>
      <!--footer-->
      <div
        class="flex items-center justify-between rounded-b border-t border-solid border-slate-200 p-6"
      >
        <button
          class="mr-1 mb-1 rounded px-6 py-2 text-sm font-bold uppercase text-red-500 hover:shadow-lg"
          type="button"
          (click)="deleteForm()"
        >
          Delete
        </button>
        <div>
          <button
            class="mr-1 mb-1 rounded px-6 py-2 text-sm font-bold uppercase hover:shadow-lg"
            type="button"
            (click)="close()"
          >
            Close
          </button>
          <button
            class="mr-1 mb-1 rounded bg-emerald-500 px-3 py-2 text-sm font-bold uppercase text-white shadow hover:shadow-lg focus:outline-none active:bg-emerald-600"
            type="submit"
          >
            {{ isCreate ? "Add Experience" : "Save Changes" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div
  *ngIf="showExperience"
  class="fixed inset-0 z-40 bg-black opacity-25"
></div>
