<div class="relative p-7">
  <div class="flex justify-center pb-5 md:py-20">
    <h1 class="text-4xl font-bold text-gray-800 md:text-[50px]">
      <i class="fa fa-briefcase"></i> Experience
    </h1>
  </div>
  <ol class="relative border-l border-gray-200 dark:border-gray-700 md:ml-32">
    <li class="mb-10 ml-4" *ngFor="let exp of experience">
      <div
        class="absolute -left-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >{{ exp.date }}</time
      >
      <h3 class="text-sm">{{ exp.company }}</h3>
      <h3 class="text-lg font-semibold">{{ exp.title }}</h3>
      <p
        class="pl-4 font-normal text-gray-500 dark:text-gray-400"
        *ngFor="let desc of exp.description"
      >
        {{ desc }}
      </p>
    </li>
  </ol>
</div>
